@import url('https://fonts.googleapis.com/css?family=Poiret+One');
html{
	height:100%;
	overflow:hidden;
}
body{
  margin:0;
  padding:0;
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family:'Poiret One';
}
h1 {
   font-size: 250%
}

p {
  font-size: 140%;
  line-height: 150%;
  color: #333;
}
/* sliding background elements containing images. */
.slide {
  position: relative;
  padding: 30vh 10%;
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
  transform-style: inherit;
}

/*Small foreground images */
img {
  position: absolute;
  top: 50%;
  left: 35%;
  width: 320px;
  height: 240px;
  transform: translateZ(.25px) scale(.75) translateX(-94%) translateY(-100%) rotate(2deg);
  padding: 10px;
  border-radius: 1px;
  background: rgba(240,230,220, .7);
  box-shadow: 0 0 8px rgba(0, 0, 0, .7);
}

img:last-of-type {
  transform: translateZ(.4px) scale(.6) translateX(-104%) translateY(-40%) rotate(-5deg);
}
.slide:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, .7);
}
/* box-label class is foreground elements containing text */
.box-label {
  width: 50%;
  padding: 5%;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, .7);
}
/*Positions every second slide element (boxes with text) */
.slide:nth-child(2n) .box-label {
  margin-left: 0;
  margin-right: auto;
}
/* Positions every second slide element starting at the first*/
.slide:nth-child(2n+1) .box-label {
  margin-left: auto;
  margin-right: 0;
}

.slide, .slide:before {
  background: 50% 50% / cover;  
}

.header {
  text-align: center;
  font-size: 175%;
  color: #fff;
  text-shadow: 0 2px 2px #000;
}
/*Background Images and Parralax effect*/
#title {
  background-image: url("media/lakehuron.png");
  z-index:2;
}

#title h1, #title h2 {
 transform: translateZ(.25px) scale(.75);
 transform-origin: 50% 100%;

}

#slide1:before {
  background-image: url("media/tunnel.bmp");
  transform: translateZ(-1px) scale(2);
}

#slide2 {
  background-image: url("media/sandwich.bmp");
  z-index:2;
}
#slide3 h1,#slide3 P{
	color:#fff;
}

#slide3:before {
  background-image: url("media/006.bmp");
  transform: translateZ(-1px) scale(2);
}

#slide4 {
  background-image: url("media/mountains.bmp");
}